<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: rgb(253, 249, 15);">Student Fees Management System</h1>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-success p-2" (click)="clickAddStudent()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Details</button>
        </div>
    </div>
</nav>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Student ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Student Fees</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allStudents">
            <td> {{ data.id }} </td>
            <td> {{ data.firstName }} </td>
            <td> {{ data.lastName }} </td>
            <td> {{ data.email }} </td>
            <td> {{ data.mobile }} </td>
            <td> {{ data.fees }} </td>
            <td>
                <button class="btn btn-primary" (click)="editStudentDetails(data)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp; 
                <button class="btn btn-danger" (click)="deleteStudentDetails(data)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
  

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Student Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputFirstName1" class="form-label">First Name</label>
                  <input type="text" class="form-control" formControlName="firstName" id="exampleInputFirstName1" aria-describedby="firstNameHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputLastName1" class="form-label">Last Name</label>
                  <input type="text" class="form-control" formControlName="lastName" id="exampleInputLastName1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="text" class="form-control" formControlName="email" id="exampleInputEmail1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputMobile1" class="form-label">Mobile Number</label>
                  <input type="text" class="form-control" formControlName="mobile" id="exampleInputMobile1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputFees1" class="form-label">Fees</label>
                  <input type="text" class="form-control" formControlName="fees" id="exampleInputFees1">
                </div>
                
              </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" *ngIf="showAdd" (click)="postStudentDetails()">Add +</button>
            <button type="button" class="btn btn-primary" *ngIf="showUpdate" (click)="updateStudentDetails()">Update</button>
        </div>
      </div>
    </div>
  </div>
